.product {
	width: 400px;
	border: 2px solid slategray;
}

.image img  {
  max-width: 350px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  
}

.description > * {
    text-align: center;
	margin: 0;
}
.description {
	padding: 3%;
}

.description h6 {
  font-size: 2em;
  padding: 2%;

}
.title {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}